@{
    ViewBag.Title = "勤怠一覧(全体-月次)";
}

<div class="contents">
    <table>
        <tr>
            <td>
                <select name="yyyy">
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017" selected>2017</option>
                </select>
            </td>
            <td>
                <label>年</label>
            </td>
            <td>
                <select name="MM">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03" selected>03</option>
                </select>
            </td>
            <td>
                <label>月</label>
            </td>
        </tr>
    </table>

    <button class="btn btn-info" type="button" onclick="indexView()">検索する</button>


    <table class="table01">
        <tr>
            <th>日付</th>
            <th>出勤時間</th>
            <th>休憩開始時間</th>
            <th>休憩終了時間</th>
            <th>退勤時間</th>
            <th>実勤務時間</th>
            <th>ヘルプ先</th>
        </tr>
        <tr>
            <td>3/1</td>
            <td>06:00</td>
            <td>10:00</td>
            <td>11:00</td>
            <td>14:00</td>
            <td>07:00</td>
            <td>町田</td>
        </tr>
    </table>

    <button class="btn btn-primary" type="button" onclick="editView()">編集する</button>
</div>

<script>
    @* 一覧画面に遷移 *@
    function indexView()
    {
        link('@Url.Action("Index", "TotalMonth")');
    }
	@* 編集画面に遷移 *@
    function editView()
	{
		link('@Url.Action("Edit", "TotalMonth")');
	}
</script>
