@{
    ViewBag.Title = "アルバイト情報編集";
}

<div class="contents">
    <table class="table01">
        <tr>
            <th>コード</th>
            <th>名前</th>
            <th>年齢</th>
            <th>性別</th>
            <th>入社日</th>
            <th>退社日</th>
        </tr>
        <tr>
            <td>0001</td>
            <td><input type="text" class="item" value="青山大地"></td>
            <td><input type="text" class="item" value="21"></td>
            <td><input type="text" class="item" value="男"></td>
            <td><input type="text" class="item" value="2015/4/16"></td>
            <td><input type="text" class="item" value=""></td>
        </tr>
    </table>

    <button class="btn btn-default" type="button" onclick="indexView()">戻る</button>
    <button class="btn btn-default" type="button" onclick="indexView()">変更する</button>

</div>

<script>
	@* 一覧画面に遷移 *@
    function indexView()
	{
		link('@Url.Action("Index", "Worker")');
	}
</script>



